<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright 2013 Andrew Okin
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ 	http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--
  ~ A brief note about the versionCode: The version code is done the way it is so that it 
  ~ somewhat matches up with the version name. The first digit is the major version number,
  ~ the next two digits are the minor version number, and the final two are the revision number
  ~ this way, most version names can be easily represented in the version code.
  ~ 
  ~ For example: 0.3.0 would be 00300, 0.3.1 would be 00301, 0.3.13 would be 00313, 
  ~ 1.13.2 would be 11302, and so on...
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.forkk.autocron"
          android:versionCode="00301"
          android:versionName="0.3.1">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>

    <application
            android:name=".AutoCronApp"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:name="net.forkk.autocron.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="net.forkk.autocron.EditAutomationActivity"
                android:label="@string/title_edit_automation"
                />

        <activity
                android:name="net.forkk.autocron.EditComponentActivity"
                android:label="@string/title_activity_edit_component"
                />

        <activity android:name="net.forkk.autocron.data.NfcHandler">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/net.forkk.autocron"/>
            </intent-filter>
        </activity>

        <activity android:name="net.forkk.autocron.NfcRuleWriteActivity"
                  android:theme="@android:style/Theme.NoDisplay"/>

        <receiver android:name="net.forkk.autocron.ServiceStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
                android:name="net.forkk.autocron.data.AutomationService"
                android:enabled="true"
                android:exported="false"/>

        <service
                android:name="net.forkk.autocron.data.GeofenceService"
                android:enabled="true"
                android:exported="false"/>

        <service
                android:name="net.forkk.autocron.data.NfcService"
                android:enabled="true"
                android:exported="false"/>

        <service
                android:name="net.forkk.autocron.data.CustomRuleService"
                android:enabled="true"
                android:exported="false"/>
    </application>

</manifest>
